# pandas tools

<liyuxia@baidu.com> 2018-11-10

http://pandas.pydata.org/pandas-docs/stable/computation.html#data-ranking

In [3]:
import pandas as pd
import numpy as np

### `cumsum` 列累积

In [21]:
s = pd.DataFrame(np.random.randint(6, size=(2,3)), index=list('ab'), columns=list('CDE'))
s

   C  D  E
a  0  3  3
b  3  3  5

In [23]:
s.cumsum()

   C  D  E
a  0  3  3
b  3  6  8

In [22]:
s.cumsum(axis='columns')

   C  D   E
a  0  3   6
b  3  6  11

In [18]:
np.random.randint?

### Groupby Date Period

http://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby-transform-window-resample

In [4]:
import datetime

df = pd.DataFrame({
     'Branch' : 'A A A A A A A B'.split(),
     'Buyer': 'Carl Mark Carl Carl Joe Joe Joe Carl'.split(),
     'Quantity': [1,3,5,1,8,1,9,3],
     'Date' : [
         datetime.datetime(2013,1,1,13,0),
         datetime.datetime(2013,1,1,13,5),
         datetime.datetime(2013,10,1,20,0),
         datetime.datetime(2013,10,2,10,0),
         datetime.datetime(2013,10,1,20,0),
         datetime.datetime(2013,10,2,10,0),
         datetime.datetime(2013,12,2,12,0),
         datetime.datetime(2013,12,2,14,0),
         ]
     })
df

  Branch Buyer  Quantity                Date
0      A  Carl         1 2013-01-01 13:00:00
1      A  Mark         3 2013-01-01 13:05:00
2      A  Carl         5 2013-10-01 20:00:00
3      A  Carl         1 2013-10-02 10:00:00
4      A   Joe         8 2013-10-01 20:00:00
5      A   Joe         1 2013-10-02 10:00:00
6      A   Joe         9 2013-12-02 12:00:00
7      B  Carl         3 2013-12-02 14:00:00

### 每个人买了多少？

In [10]:
df.groupby(['Buyer']).sum()

       Quantity
Buyer
Carl         10
Joe          18
Mark          3

### 每个人 `每个月` 买了多少？

In [14]:
df.groupby([pd.Grouper(freq='6M',key='Date'), 'Buyer']).sum()

                  Quantity
Date       Buyer
2013-01-31 Carl          1
           Mark          3
2014-01-31 Carl          9
           Joe          18

http://pandas.pydata.org/pandas-docs/stable/groupby.html#groupby-transform-window-resample